



<!-- {{ url_for('static', filename='css/') }}
{{ url_for('static', filename='images/') }} -->


<header id="header">
  {% block header %}
  <a href="/" class="title">Immigrant Resource Bank</a>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      {% if g.user %}
        <li><a href="{{ url_for('auth.user_posts') }}"> <span>{{ g.user['name'] }}</span></a> </li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        <li><a href="{{ url_for('auth.post') }}">Post Resource</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>
  {% endblock %}
</header>
