{% extends 'base.html'%}

{% block title %}Post Resource{% endblock %}

	{% block header %}
	<!-- Header -->
	{% include 'header.html'%}
	{% endblock %}
		<!-- Wrapper -->
    {% block content %}
			<div id="wrapper">
				{% if g.user %}
				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Share a Resource!</h1>
							<p>Post any resources that you may find helpful.</p>
						</div>
					</section>

          <section>
            <h2>Resource</h2>
            <form method="POST" >
              <div class="row gtr-uniform">
                <div class="col-12 col-12-xsmall">
                  <input type="text" name="post_title" id="post_title" value="" placeholder="Post Title" />
                </div>
								<div class="col-12 col-12-xsmall">
									<input type="text" name="url" id="url" value="" placeholder="Post URL" />
								</div>
									<!-- Category List -->
                <div class="col-12">
									<select name="category" data-live-search="true" id="category" title="Category">
										<option value="">-Category-</option>
										{% for n in categories.keys() %}
										<option  value="{{n}}">{{categories.get(n)['category_name']}}</option>
										{% endfor %}
									</select>
                </div>

								<div class="col-12">
									<select name="accessibility" data-live-search="true" id="accessibility" title="accessibility">
										<option value="">-Accessibility-</option>
										<option  value="website">Website</option>
										<option  value="class">Class</option>
										<option  value="book">Book</option>
										<option  value="organization">Organization</option>
									</select>
                </div>

								<div class="col-12">
					        <div class="col-4 col-12-small">
					          <input type="radio" id="mode" name="mode" value= 'Online' checked>
					          <label for="Online">Online</label>
					        </div>
					        <div class="col-4 col-12-small">
					          <input type="radio" id="mode" name="mode" value= 'In-Person'>
					          <label for="In_Person">In-Person</label>
					        </div>

									<div class="col-6 col-12-small">
	                  <input type="checkbox" id="demo-copy" name="demo-copy">
	                  <label for="demo-copy">Email me a copy</label>
	                </div>
	                <div class="col-6 col-12-small">
	                  <input type="checkbox" id="demo-human" name="demo-human" checked>
	                  <label for="demo-human">Not a robot</label>
	                </div>

					      </div>




                <div class="col-12">
                  <textarea name="post_description" id="post_description" placeholder="Post Description" rows="6"></textarea>
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li><input type="submit" value="Post" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                  </ul>
                </div>
              </div>
            </form>
          </section>

					{% else %}
						<div class="col-12">
							<ul class="actions">
								<li><a href="/auth/login" class="button primary">Login</a></li>
								<li><a href="/auth/register" class="button primary">Register</a></li>
							</ul>
						</div>

					{% endif %}

			</div>

      {% endblock %}
