
<!DOCTYPE HTML>

{% extends 'base.html' %}


{% block title %} <title>Home</title>{% endblock %}
<html>

{% block header %}
  {% include 'header.html'%}
{% endblock %}

		<!-- Sidebar -->


	{% block content %}

				<!-- Intro -->
				<section>
				  <h1> Resources you posted </h1>
				  <form method="GET" >
				    <div class="row gtr-uniform">

							<div class="col-12">
								<select name="category" data-live-search="true" id="category" title="Category">
									<option value="">-Category-</option>
									{% for n in categories.values() %}
									<option  value="{{n['category_name']}}">{{n['category_name']}}</option>
									{% endfor %}
								</select>
							</div>
				      <div class="col-12">

				      <div class="col-6 col-12-xsmall">
				        <input type="text" name="query_term" id="query_term" value="" placeholder="Search" />
				      </div>
				    </div>

						<div class="col-12">
							<ul class="actions center">
								<li><input type="submit" value="Search" class="primary" /></li>
							</ul>
						</div>
				  </form>
				</section>
				<!-- One -->


					<section id="one" class="wrapper style2 spotlights">
					{% for n in data.values() %}
						<section>
							<a href="#" class="image"><img src="../static/images/pic-{{n['category_id']}}.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>{{n['post_title']}}</h2>
									<h5>{{n['category_name']}} </h5>
									<p>{{n['post_description']}}</p>
									<ul class="actions">
										<li><a href="{{n['post_url']}}" class="button">Learn More</a></li>
									</ul>
								</div>
							</div>
						</section>
					{% endfor %}
					</section>

				<!-- Two -->

				<script>
			$(document).ready(function(){
			    load_data();
			    function load_data(query='')
			    {
			        $.ajax({
			            url:"/home",
			            method:"GET",
			            data:{query:query},
			            success:function(data)
			            {
			                $('content').html(data);
			                $('content').append(data.htmlresponse);
			            }
			        })
			    }

			    $('#category').change(function(){
			        $('#hidden_value').val($('#category').val());
			        var query = $('#hidden_value').val();
			        load_data(query);
			    });

			});
			</script>
	{% endblock %}


	</body>
</html>
