{% extends 'base.html'%}

{% block title %}Post Resource{% endblock %}

	{% block header %}
	<!-- Header -->
	{% include 'header.html'%}
	{% endblock %}
		<!-- Wrapper -->
    {% block content %}
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Post Rules:</h1>
							<span class="image fit"><img src="images/pic04.jpg" alt="" /></span>
							<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique.</p>
						</div>
					</section>

          <section>
            <h2>Resource</h2>
            <form method="POST" >
              <div class="row gtr-uniform">
                <div class="col-12 col-12-xsmall">
                  <input type="text" name="post_title" id="post_title" value="" placeholder="Post Title" />
									<input type="text" name="url" id="url" value="" placeholder="url" />
                </div>
									<!-- Category List -->
                <div class="col-12">
									<select name="category" data-live-search="true" id="category" title="Category">
										<option value="">-Category-</option>
										{% for n in categories.keys() %}
										<option  value="{{n}}">{{categories.get(n)['category_name']}}</option>
										{% endfor %}
									</select>
                </div>

								<div class="col-12">
									<select name="category" data-live-search="true" id="category" title="Category">
										<option value="">-Accessibility-</option>
										<option  value="website">Website</option>
										<option  value="class">Class</option>
										<option  value="book">Book</option>
										<option  value="organization">Organization</option>
									</select>
                </div>
                <div class="col-4 col-12-small">
                  <input type="radio" id="mode" name="mode" value = "Online" checked>
                  <label for="demo-priority-Online">Online</label>
                </div>
                <div class="col-4 col-12-small">
                  <input type="radio" id="mode" name="mode" value="In-Person">
                  <label for="demo-priority-normal">In-Person</label>
                </div>
                <div class="col-6 col-12-small">
                  <input type="checkbox" id="demo-copy" name="demo-copy">
                  <label for="demo-copy">Email me a copy</label>
                </div>
                <div class="col-6 col-12-small">
                  <input type="checkbox" id="demo-human" name="demo-human" checked>
                  <label for="demo-human">Not a robot</label>
                </div>
                <div class="col-12">
                  <textarea name="post_description" id="post_description" placeholder="Post Description" rows="6"></textarea>
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li><input type="submit" value="Post" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                  </ul>
                </div>
              </div>
            </form>
          </section>

			</div>

      {% endblock %}
